.LightBulb {
	position: relative;
}

.LightBulb .cord {
	position: relative;
	background-color: #000000;
	width: 2px;
	height: 150px;
	left: 50%;
	margin-left: -1px;
	z-index: 1;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-animation: swingCord .9s ease-in-out 0s infinite alternate;
	-moz-animation: swingCord .9s ease-in-out 0s infinite alternate;
	-ms-animation: swingCord .9s ease-in-out 0s infinite alternate;
	-o-animation: swingCord .9s ease-in-out 0s infinite alternate;
	animation: swingCord .9s ease-in-out 0s infinite alternate;
}

.LightBulb .cord:after {
	content: " ";
	left: -5px;
	top: 100%;
	position: absolute;
	border-bottom: 15px solid #000000;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	height: 0;
	width: 4px;
}

.LightBulb .bulb {
	cursor: pointer;
	width: 52px;
	height: 52px;
	top: 165px;
	position: absolute;
	left: 50%;
	margin-left: -26px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-animation: swingBulb .9s ease-in-out 0s infinite alternate;
	-moz-animation: swingBulb .9s ease-in-out 0s infinite alternate;
	-ms-animation: swingBulb .9s ease-in-out 0s infinite alternate;
	-o-animation: swingBulb .9s ease-in-out 0s infinite alternate;
	animation: swingBulb .9s ease-in-out 0s infinite alternate;
}

.LightBulb:not(.on) .bulb {
	background: rgba(255, 255, 255, 0.03);
	-webkit-box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.1), inset 0px 2px 20px rgba(255, 255, 255, 0.07),
		-80px -15px 15px -5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.1), inset 0px 2px 20px rgba(255, 255, 255, 0.07),
		-80px -15px 15px -5px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.1), inset 0px 2px 20px rgba(255, 255, 255, 0.07),
		-80px -15px 15px -5px rgba(0, 0, 0, 0.1);
	-o-box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.1), inset 0px 2px 20px rgba(255, 255, 255, 0.07),
		-80px -15px 15px -5px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.1), inset 0px 2px 20px rgba(255, 255, 255, 0.07),
		-80px -15px 15px -5px rgba(0, 0, 0, 0.1);
}

.LightBulb.on .bulb {
	background: rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 30px rgba(255, 255, 255, 0.8),
		0px 0px 50px rgba(255, 255, 255, 0.6), 0px 0px 70px rgba(255, 255, 255, 0.6),
		-80px -15px 120px 0px rgba(255, 255, 255, 0.4);
	-moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 30px rgba(255, 255, 255, 0.8),
		0px 0px 50px rgba(255, 255, 255, 0.6), 0px 0px 70px rgba(255, 255, 255, 0.6),
		-80px -15px 120px 0px rgba(255, 255, 255, 0.4);
	-ms-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 30px rgba(255, 255, 255, 0.8),
		0px 0px 50px rgba(255, 255, 255, 0.6), 0px 0px 70px rgba(255, 255, 255, 0.6),
		-80px -15px 120px 0px rgba(255, 255, 255, 0.4);
	-o-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 30px rgba(255, 255, 255, 0.8),
		0px 0px 50px rgba(255, 255, 255, 0.6), 0px 0px 70px rgba(255, 255, 255, 0.6),
		-80px -15px 120px 0px rgba(255, 255, 255, 0.4);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 30px rgba(255, 255, 255, 0.8),
		0px 0px 50px rgba(255, 255, 255, 0.6), 0px 0px 70px rgba(255, 255, 255, 0.6),
		-80px -15px 120px 0px rgba(255, 255, 255, 0.4);
}

.LightBulb:not(.on) .bulb:after {
	content: " ";
	width: 16px;
	height: 16px;
	top: 0;
	position: absolute;
	left: 0;
	margin-left: 16px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid rgba(255, 255, 255, 0.03);
}

@-webkit-keyframes swingCord {
	from {
		-webkit-transform: rotate(5deg);
	}
	to {
		-webkit-transform: rotate(-5deg);
	}
}
@-moz-keyframes swingCord {
	from {
		-moz-transform: rotate(5deg);
	}
	to {
		-moz-transform: rotate(-5deg);
	}
}
@-ms-keyframes swingCord {
	from {
		-ms-transform: rotate(5deg);
	}
	to {
		-ms-transform: rotate(-5deg);
	}
}
@-o-keyframes swingCord {
	from {
		-o-transform: rotate(5deg);
	}
	to {
		-o-transform: rotate(-5deg);
	}
}
@keyframes swingCord {
	from {
		transform: rotate(5deg);
	}
	to {
		transform: rotate(-5deg);
	}
}

@-webkit-keyframes swingBulb {
	from {
		-webkit-transform: rotate(3deg) translate(-16.4px, -1px);
	}
	to {
		-webkit-transform: rotate(-3deg) translate(16.4px, -1px);
	}
}
@-moz-keyframes swingBulb {
	from {
		-moz-transform: rotate(3deg) translate(-16.4px, -1px);
	}
	to {
		-moz-transform: rotate(-3deg) translate(16.4px, -1px);
	}
}
@-ms-keyframes swingBulb {
	from {
		-ms-transform: rotate(3deg) translate(-16.4px, -1px);
	}
	to {
		-ms-transform: rotate(-3deg) translate(16.4px, -1px);
	}
}
@-o-keyframes swingBulb {
	from {
		-o-transform: rotate(3deg) translate(-16.4px, -1px);
	}
	to {
		-o-transform: rotate(-3deg) translate(16.4px, -1px);
	}
}
@keyframes swingBulb {
	from {
		transform: rotate(3deg) translate(-16.4px, -1px);
	}
	to {
		transform: rotate(-3deg) translate(16.4px, -1px);
	}
}
